html {
  font-size: 18px;
  font-family: Helvetica sans-serif;
  line-height: 1.4;
}
/* Nav Banner */

@media only screen and (max-width: 1024px) {
   header {
    height: 22rem;
    padding-top: 0 !important;
  }
}


@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}


header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
}

nav {
  padding: 1rem 0;
  display: flex;
  width: 960px;
  background-color: cadetblue;
  color: white;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

nav img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

nav div {
  font-size: 1rem;
  align-items: center;
  display: flex;
}


nav ul {
  display: flex;
  flex-direction: row;

}

ul {
  margin-right: 1rem;

}

li {
  padding: 1rem 2rem;

}
/* End Nav Banner */
/* Quote Banner */

@media only screen and (max-width: 1024px) {
  .quote container {
    padding-right: 2rem;
    padding-top: 2rem;
    padding: 0.75rem 4rem;
  }
}


@media only screen and (max-width: 1024px) {
  .concept-statement {

  }
}


header .quote {
  justify-content: flex-end;
}

.quote {
  display: flex;
}

.concept-statement {
  background-color: white;
  position: relative;
  top: 10rem;
  right: 2rem;
  left: 3rem;
  display: inline-block;
  padding: 2rem 5rem;
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .concept-statement h1 {
    font-size: 1.33rem;
  }
}

/* End Quote Banner */

.services {
  display: flex;
  margin: auto;
  width: 50rem;
  justify-content: center;
  margin-top: 3rem;
  align-content: center;
}

#services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
  align-items: center;
}


.description {
  display: block;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

img {
  border-style: none;
}

/* End Services Images */
/* Begin Philosophy & Contact Info */

#contact {
  display: flex;
  justify-content: center;
}

.services-container {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: flex-start;
  justify-content: space-between;
}

.values {
  display: block;
  width: 35%;
  margin: 5%;

}
.contact {
  display: flex;
  background-color: cadetblue;
  width: 10rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  max-width: 10rem;
  padding: 1rem;
  margin: auto;
  color: white;
}

.info p {
  padding: 1rem 0;
}

/* End Services Contact Info Section */

/* Begin Footer Section */

footer {
  background-color: azure;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}

.footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
/* End Footer */
