html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}


/* Nav Banner */



header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
}

@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    height: 22rem;
    max-width: 100%;
    background-size: cover;
}
}

@media only screen and (max-width: 470px) {
  header {
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
    background-size: cover;
    border: 1px solid blue;
  }
}

nav {
  padding: 1rem 0;
  display: flex;
  background-color: cadetblue;
  color: white;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 470px) {
  nav a {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  nav ul {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  nav span {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  nav .items {
    max-width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  nav .mobile-nav {
    display: block;
    text-align: right;
  }
}


.container {
  display: flex;
  max-width: 960px;
}


@media only screen and (max-width: 1024px) {
.container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    max-width: 100%;
  }
}


nav img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

nav div {
  font-size: 1rem;
  align-items: center;
  display: flex;
  border: 1px solid red;
}


nav ul {
  display: flex;
  flex-direction: row;

}

.mobile-nav {
  display: none;
}

ul {
  margin-right: 1rem;

}

li {
  padding: 1rem 2rem;

}


/* End Nav Banner */
/* Quote Banner */


header .quote {
  justify-content: flex-end;

}

.quote {
  display: flex;
  margin: auto;
}


.concept-statement {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  display: inline-block;

}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: .67em 0;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}


@media only screen and (max-width: 1024px) {
  .concept-statement {
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 470px) {
  .concept-statement {
    border: 1px solid red;
    text-align: center;
    margin-right: 0;
    margin-top: 9rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 1.33rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 470px) {
  h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    align-content: center;
  }
}
/* End Quote Banner */

.services {
  display: flex;
  margin: auto;
  width: 50rem;
  justify-content: center;
  margin-top: 3rem;
  align-content: center;
}

#services {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 470px) {
  #services {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 0.77rem;
    font-weight: bold;
    margin-top: 3.77rem;
  }
}

.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
  align-items: center;
}


@media only screen and (max-width: 470px) {
  .service {
    margin-top: 1.54rem;
  }
}

.description {
  display: block;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

img {
  border-style: none;
}

/* End Services Images */
/* Begin Philosophy & Contact Info */

#contacts .services-container {
  display: flex;
  justify-content: center;
}

.services-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.values {
  width: 35%;
  margin: 5%;
}

@media only screen and (max-width: 470px) {
  .services-container {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;

  }
}

@media only screen and (max-width: 470px) {
  #contacts {
    max-width: 100%;
  }
}


@media only screen and (max-width: 470px) {
  .values {
    max-width: 100%;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 470px) {
  .info {
    max-width: auto;
  }
}

@media only screen and (max-width: 470px) {
  .services-container .info {
    width: 100%;
  }
}


.contact {
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  color: white;
  display: flex;
}

@media only screen and (max-width: 470px) {
  .contact {
    max-width: 100%;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.info p {
  padding: 1rem 0;
}

/* End Services Contact Info Section */

/* Begin Footer Section */

footer {
  background-color: azure;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}


@media only screen and (max-width:470px) {
  footer {
    max-width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width:470px) {
  footer .title {
    display: none;
  }
}
@media only screen and (max-width:470px) {
  .container {
    max-width: 100%;
  }
}
.footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* End Footer */
